<div align="center">
    <h3>丰收驿站管理员账号维护</h3>
    <ul>
        <li>点击下载
            <a href="/resources/丰收驿站管理员账号上传模板.xlsx">丰收驿站管理员账号上传模板</a>
        </li>
    </ul>
    <br />
    <div>
        <form action="/greenMerchantAdminList" method="post" enctype="multipart/form-data">
            <input type="file" name="fileUpload" />
            <input type="submit" value="上传文件" />
        </form>
    </div>
    <div>
        <span style="color:brown">{{{tips}}}</span>
    </div>
</div>